/*中间部分的样式*/
.main {
    margin: 0 auto;
    padding: 0 10% 10% 10%;
    background-color: #fafafa;
}

.main a {
    color: black;
    text-decoration: none;
}

.main-p1 {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.main-p2 {
    overflow: hidden;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1rem;
    border-bottom: 1px solid #e6e6e6;
}

.main-p2 span {
    display: inline-block;
    float: left;
    height: 2rem;
    color: #a1a1a1;
}

.main-p2 a {
    display: inline-block;
    float: left;
    margin: 0 1%;
    padding: 2px 0 2px 0;
    width: 4rem;
    text-align: center;
}

.main-p2 a:hover {
    color: white;
    background-color: #29b078;
    text-decoration: none;
}

/*具体职业方向介绍部分*/
.main-title {
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
    font-size: 15px;
}

.main-title a:hover {
    text-decoration: none !important;
}

/*一个职业具体介绍模块*/
.main-part {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 1px;
}

.main-part-box {
    position: relative;
    display: inline-block;
    margin: 3rem auto;
    max-width: 380px;
    width: 33%;
    background-color: #ffffff;
}

@media screen and (max-width: 1290px) {
    .main-part-box {
        width: 45%;
        margin: 2rem 2% .5rem 2%;
    }
}

@media screen and (max-width: 950px) {
    .main-part {
        text-align: center;
    }

    .main-part-box {
        width: 100%;
    }
}

.main-part-table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #eeeded;
}

.main-part-table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.main-part-table tr td {
    padding-left: 10px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #eeeded;
    word-break: break-all;
}

.main-part-table-small {
    font-size: 12px;
}

.main-part-table-11 {
    padding: 1rem 0;
    width: 40%;
    border-right: 0 !important;
}

.main-part-table-11 img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.main-part-table-12 {
    border-left: 0 !important;
}

.main-part-table-2 td {
    width: 50%;
}

.main-part-table-2 img {
    margin-left: 5px;
    width: 1.1rem;
    height: 1.1rem;
}

.main-part-table-grey {
    display: inline-block;
    color: #999999;
}

.main-part-table i {
    padding-left: 5px;
    color: orangered;
}

.main-part-table-red {
    margin-left: 5px;
    color: red;
}

.main-part-table-left {
    float: left;
    margin-left: 10px;
    color: #333333;
}

.main-part-table-right {
    float: right;
    margin-right: 10px;
    color: #333333;
}

.main-part-table strong {
    font-size: 16px;
}

.main-part-box-hide h4 {
    margin: 5% auto 10% auto;
    text-align: center;
}

.main-part-box-hide {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20% 14%;
    width: 71.5%;
    height: 65%;
    text-align: left;
    word-break: break-all; /*取消自动换行，填满一行再换*/
    color: white;
    font-size: 16px;
    line-height: 2rem;
    background-color: black;
    opacity: 0;
}

.main-part-box:hover .main-part-box-hide {
    opacity: 0.7;
    transition: 3s ease; /*动画效果*/
}